$primary-blue: #0359a1;
$primary-green: #038940;
$primary-orange: #e39c2d;
$primary-error-color: #ff7070;
$dark-grey: #656669;
$medium-grey: #9c9c9c;
$light-grey: #aaaaaa;
$white: #ffffff;
$black: #000000;
$lightWhite: #fcfcfc;
$lightWhiteBg: #f3f3f3;
$ligh-grey-ccc: #cccccc;
$border-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.1);
$bottom-border-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);