.header {
    padding: 10px;
    background: $primary-blue;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    button.hamburger {
        width: 40px;
        height: 30px;
        background: none;
        box-shadow: none;
        border: none;
        cursor: pointer;
        position: relative;
        outline: none;
        overflow: hidden;
        span {
            position: absolute;
            height: 2px;
            width: 90%;
            background: $white;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.3s ease-in-out;
            &:before, &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                background: $white;
                transition: all 0.3s ease-in-out;
            }
            &:before {
                top: -8px;
            }
            &:after {
                top: 8px;
            }
        }
        &.open {
            span {
                left: -40px;
                &:before, &:after {
                    left: 60px;
                    top: 1px;
                    transform: rotate(45deg);
                }
                &:after {
                    transform: rotate(-45deg);
                }
            }
        }
    }

    .logoWrapper {
        width: 160px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: 0;
        transform: translate(-50%, -50%);
        img {
            width: 100%;
        }
    }

    .menuWrapper {
        position: fixed;
        z-index: 1;
        height: 100%;
        width: 200px;
        transition: all 0.3s ease-in-out;
        left: -200px;
        top: 52px;
        background: $white;
        box-shadow: -3px 4px 2px 4px rgba(0, 0, 0, 0.2);
        .overLay {
            position: fixed;
            left: -100vh;
            width: 100%;
            top: 51px;
            height: 100%;
            opacity: 0;
            transition: all 0.2s ease-in-out;
            background: rgba(0, 0, 0, 0.2);
            z-index: -1;
        }
        &.open {
            left: 0;
            .overLay {
                left: 0;
                opacity: 1;
            }
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 10px;
            height: 100%;
            background: $white;
            li {
                display: block;
                margin-bottom: 10px;
                a {
                    text-decoration: none;
                    display: block;
                    padding: 10px;
                    color: $light-grey;
                }
                &.flights a.flights {
                    color: $primary-blue;
                }
                &.cars a.cars {
                    color: $primary-blue;
                }
                &.trains a.trains {
                    color: $primary-blue;
                }
                &.hotels a.hotels {
                    color: $primary-blue;
                }
                &.buses a.buses {
                    color: $primary-blue;
                }
            }
        }
    }
}